<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro usuario</title>
</head>
<body>
    <header>
        <nav>
            <p>Bolsillo Digital "#"</p>
            <a href="index.html">Inicio</a>
            <a href="login.html">Iniciar sesión</a>
        </nav>
    </header>
    <h1>Dashboard</h1>
    <main>
        <p>Mi cuenta</p>
    ---
     <br>Nombres<br>
     <br>Apellidos<br>
     <br>Tipo de documento<br>
     <br>Número de documento<br>
     <br>Nombres<br>
     <br>Correo<br>
     <br>Contraseña<br>
    ---
        <p>Consultar mi dinero</p>
        ---
        <br>Saldo<br>
        <br>Última transacción<br>
        <br>Recargar<br>
    ---
    ---
       <br>Nombres<br>
       <br>Apellidos<br>
       <br>Tipo de documento<br>
       <br>Número de documento<br>
       <br>Nombres<br>
       <br>Correo<br>
       <br>Contraseña<br>
      ---
      <br>Recargar mi billetera digital<br>
        <input type="number" name="" id="" value="10000"/><br>  
     ---
      <p>Cerrar sesión</p>
     ---

    </main>
    <footer>
        <p>Bolsillo Digital "#"</p>
        <b>¡Contáctanos!</b>
        <p>Teléfono:</p>
        <p>1234567890</p>
        <p>Redes Sociales:</p>
        <a href="#">Facebook</a>
        <a href="#">Instagram</a>
        <a href="#">Twitter</a>
        <a href="#">Mastodon</a>
        <a href="#">YouTube</a>
        <p>Email de contacto</p>
        <b>billetera@digital.com</b><br>
        <p>Todos los derechos reservados, Mi billetera Digital # </p><b>Bogotá Colombia © 2023 Copyright:</b>
    </footer>
</main>
</body>
</html>