<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.9">
    <link rel="stylesheet" href="index.css">
    <title>Dashboard</title>
</head>
<body>
    <div class="background-principal">
        <header class="header">
        <nav class="nav">
        <div class="container">
            <div class="container-logo">
            <p class="p">Banco Colombia</p>
            </div>
                <div class="options">
                        <a href="index.html"class="a">Inicio</a>
                </div>
            </div>
        </nav>
    </header>
    
        <div class="side-bar">
                <ul>
                    <li class="li">Consulta dinero</li>
                    <li class="li">Ingresa dinero</li>
                    <li class="li">Retira dinero</li>
                </ul>
            </div>
        </div>
        <div class="dashboard-container">
            <div class="card">
                <div class="card-title">Consulta dinero</div>
                <div class="card-content">
                    <p class="p">Consulta tu dinero aquí</p>
                    <p class="p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste vitae nisi modi officiis quibusdam dicta obcaecati vel eveniet eum recusandae?</p>
                    <button class="card-content-button">Consultar</button>
                </div>
            </div>
            <div class="card">
                <div class="card-title">Recarga dinero</div>
                <div class="card-content">
                    <p class="p">Recarga tu dinero aquí</p>
                    <p class="p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste vitae nisi modi officiis quibusdam dicta obcaecati vel eveniet eum recusandae?</p>
                    <input type="number" name="" id=""/>
                    <button class="card-content-button">Recargar</button>
                </div>
            </div>
            <div class="card">
                <div class="card-title">Saca dinero</div>
                <div class="card-content">
                    <p class="p">Saca tu dinero aquí</p>
                    <p class="p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste vitae nisi modi officiis quibusdam dicta obcaecati vel eveniet eum recusandae?</p>
                    <input type="number" name="" id=""/>
                    <button class="card-content-button">Sacar</button>
                </div>
            </div>
        </div>
    </html>
 <!-- <footer class="footer">
                <div class="background-principal">
                <div class="container">
                        <div class="footer-header">
                                    <div class="container-logo">
                                    <p class="p">Banco Colombia</p>
                                    </div>
                                        <div class="options">
                                        <a href="#main"class="a">Home</a>
                                        <a href="login.html"class="a">Ingreso</a>
                                        <a href="signup.html"class="a">Registro</a>
                        </div>
                            </div>
                    <div class="content">
                        <div class="contact">
                            <p class="title">¡Contáctanos!</p>
                            <b class="p-content">Teléfono</b>
                            <p class="p-content">1234567890</p>
                            <p class="p-content">Email de contacto</p>
                           <p class="p-content">bolsillo@bancocolombia.com</p>
                           <p class="title">Redes Sociales:</p>
                           <a href="https://www.facebook.com/" class="link">Facebook</a>
                           <a href="https://www.instagram.com/" class="link">Instagram</a>
                           <a href="https://www.twitter.com/" class="link">Twitter</a>
                           <a href="https://www.youtube.com/" class="link">YouTube</a>
                           <p class="copy">Todos los derechos reservados Banco Colombia &copy; 2023</p>
                        </div>
                        </div>
                    </div>
                    </footer>
         -->
</body> 
</html>

<!-- <h1>Dashboard</h1>
<main>
    <p>Mi cuenta</p>
---
 <br>Nombres<br>
 <br>Apellidos<br>
 <br>Tipo de documento<br>
 <br>Número de documento<br>
 <br>Nombres<br>
 <br>Correo<br>
 <br>Contraseña<br>
---
    <p>Consultar mi dinero</p>
    ---
    <br>Saldo<br>
    <br>Última transacción<br>
    <br>Recargar<br>
---
---
   <br>Nombres<br>
   <br>Apellidos<br>
   <br>Tipo de documento<br>
   <br>Número de documento<br>
   <br>Nombres<br>
   <br>Correo<br>
   <br>Contraseña<br>
  ---
  <br>Recargar mi billetera digital<br>
    <label for="number">Numero</label>
    <input type="number" name="" id="" value="10000"/><br>  
 ---
  <p>Cerrar sesión</p>
 ---

</main> -->