<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.9">
    <link rel="stylesheet" href="index.css">
    <title>Billetera Banco Colombia</title>
</head>
<body>
    <div class="background-principal">
        <header class="header">
        <nav class="nav">
        <div class="container">
            <div class="container-logo">
            <p class="p">Banco Colombia</p>
            </div>
                <div class="options">
                        <a href="login.html"class="a">Inicia sesión</a>
                        <a href="signup.html"class="a">Regístrate</a>
                        <a href="#"class="a">Dashboard</a>
                </div>
            </div>
        </nav>
    </header>
    <main id="main">
        <div class="container">
            <div class="main-image"><!-- Imagen de tarjeta de crédito --></div>  
            <div class="tittle">
                <h1 class="h1">Billetera Digital Banco Colombia</h1>
                <h2 class="h2">¿Cómo empezar?</h2>
                <p class="p">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magni necessitatibus distinctio inventore voluptatum in, pariatur soluta exercitationem ipsa, atque fugiat minus dignissimos eveniet corrupti sed ex mollitia quam ipsum ipsam itaque nobis. Consectetur eligendi iste maxime laborum et rem ipsam.</p>
        </div>
        </div>
            <div class="container"> 
                    <div class="container-button">
                        <button>Pide tu tarjeta</button>
                        <button>Leer más</button>
                    </div>
            </div>
        </main>
    </div>

    <section id="services">
        <div class="container">
            <h2 class="h2">Nuestros Programas</h2>
                <div class="card">
                    <div class="card-title">
                    <h3 class="h3">Hasta 25% de cashback</h3>
                    </div>
                    <div class="card-content">
                    <p class="p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae expedita amet harum repellendus, illum facilis ipsum quam ipsam ad eius temporibus voluptate saepe, id, quos neque praesentium iusto sit! Ipsa vero beatae maxime ex perspiciatis!</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-title">
                    <h3 class="h3">Hasta 45% de depósito reparado</h3>
                    </div>
                    <div class="card-content">
                    <p class="p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, nulla harum tempore quidem libero placeat nihil, dignissimos assumenda rem sequi commodi quia labore vitae amet suscipit cum alias beatae illum in temporibus iure itaque fugit!</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-title">
                    <h3 class="h3">Hasta 25% de cashback</h3>
                    </div>
                    <div class="card-content">
                    <p class="p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, nulla harum tempore quidem libero placeat nihil, dignissimos assumenda rem sequi commodi quia labore vitae amet suscipit cum alias beatae illum in temporibus iure itaque fugit!</p>
                    </div>
                </div>
        </div>
    </section>

            <footer class="footer">
                <div class="background-principal">
                <div class="container">
                        <div class="footer-header">
                                    <div class="container-logo">
                                    <p class="p">Banco Colombia</p>
                                    </div>
                                        <div class="options">
                                        <a href="#main"class="a">Home</a>
                                        <a href="login.html"class="a">Ingreso</a>
                                        <a href="signup.html"class="a">Registro</a>
                        </div>
                            </div>
                    <div class="content">
                        <div class="contact">
                            <p class="title">¡Contáctanos!</p>
                            <b class="p-content">Teléfono</b>
                            <p class="p-content">1234567890</p>
                            <p class="p-content">Email de contacto</p>
                           <p class="p-content">bolsillo@bancocolombia.com</p>
                           <p class="title">Redes Sociales:</p>
                           <a href="https://www.facebook.com/" class="link">Facebook</a>
                           <a href="https://www.instagram.com/" class="link">Instagram</a>
                           <a href="https://www.twitter.com/" class="link">Twitter</a>
                           <a href="https://www.youtube.com/" class="link">YouTube</a>
                           <p class="copy">Todos los derechos reservados Banco Colombia &copy; 2023</p>
                        </div>
                        </div>
                    </div>
                    </footer>
        
</body> 
</html>
