<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.9">
    <link rel="stylesheet" href="index.css">
    <title>Billetera Banco Colombia</title>
</head>
<body>
    <div class="background-principal">
        <header class="header">
        <nav class="nav">
        <div class="container">
            <div class="container-logo">
            <p class="p">Banco Colombia</p>
            </div>
                <div class="options">
                        <a href="index.html"class="a">Inicio</a>
                </div>
            </div>
        </nav>
    </header>
    <main id="main"> 
        <div class="container-login">
            <div class="login-header">
                <h1 class="h1-login-form">Iniciar sesión</h1>
            </div>
                <label for="" class="label-login-form">Correo</label>
                <input type="email" name="" id="" placeholder="email@example.com" />
                <label for="" class="label-login-form">Contraseña</label>
                <input type="password" name="" id="" placeholder="*****" />
                <button class="button-login">Ingresa</button>
                <p class="p">¿No tienes cuenta?</p>
                <a href="#" class="a">Regístrate</a>
                <a href="#" class="a">¿Olvidaste la contraseña?</a>    
        </main>
    </div>


            <footer class="footer">
                <div class="background-principal">
                <div class="container">
                        <div class="footer-header">
                                    <div class="container-logo">
                                    <p class="p">Banco Colombia</p>
                                    </div>
                                        <div class="options">
                                        <a href="index.html"class="a">Inicio</a>
                                        <a href="signup.html"class="a">Registro</a>
                        </div>
                            </div>
                    <div class="content">
                        <div class="contact">
                            <p class="title">¡Contáctanos!</p>
                            <b class="p-content">Teléfono</b>
                            <p class="p-content">1234567890</p>
                            <p class="p-content">Email de contacto</p>
                           <p class="p-content">bolsillo@bancocolombia.com</p>
                           <p class="title">Redes Sociales:</p>
                           <a href="https://www.facebook.com/" class="link">Facebook</a>
                           <a href="https://www.instagram.com/" class="link">Instagram</a>
                           <a href="https://www.twitter.com/" class="link">Twitter</a>
                           <a href="https://www.youtube.com/" class="link">YouTube</a>
                           <p class="copy">Todos los derechos reservados Banco Colombia &copy; 2023</p>
                        </div>
                        </div>
                    </div>
                    </footer>
        
</body> 
</html>
