<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.9">
    <link rel="stylesheet" href="index.css">
    <title>Billetera Banco Colombia</title>
</head>
<body>
    <div class="background-principal">
        <header class="header">
        <nav class="nav">
        <div class="container">
            <div class="container-logo">
            <p class="p">Banco Colombia</p>
            </div>
                <div class="options">
                        <a href="index.html"class="a">Inicio</a>
                </div>
            </div>
        </nav>
    </header>
        <div class="container-signup">
            <div class="signup-header">
                <h1 class="h1-signup-form">Registro usuario</h1>
            </div>
            <label for="" class="label-signup-form">Nombre/s</label>
            <input type="text" name="" id="" placeholder="Jorge" />
            <label for="" class="label-signup-form">Apellido/s</label>
            <input type="text" name=""  id="" placeholder="Piedra" />
            <label for="" class="label-signup-form">Tipo de documento</label>
            <select name="" id="">
                <option value="">Tarjeta de identidad</option>
                <option value="">Cédula de ciudadanía</option>
                <option value="">Pasaporte</option>
                <option value="">Contraseña</option>
                <option value="">Cédula de extranjería  </option>
            </select>
            <label for="" class="label-signup-form">Número de documento</label>
            <input type="text" name="" id="" placeholder="12321491" />
                <label for="" class="label-signup-form">Correo</label>
                <input type="email" name="" id="" placeholder="email@example.com" />
                <label for="" class="label-signup-form">Contraseña</label>
                <input type="password" name="" id="" placeholder="*****" />
                <button class="button-signup">Registro</button>
                <p class="p">¿Ya tienes cuenta?</p>
                <a href="login.html" class="a">Inicia sesión</a>
                <a href="#" class="a">¿Olvidaste la contraseña?</a>    
    </div>
            <footer class="footer">
                <div class="background-principal">
                <div class="container">
                        <div class="footer-header">
                                    <div class="container-logo">
                                    <p class="p">Banco Colombia</p>
                                    </div>
                                        <div class="options">
                                        <a href="index.html"class="a">Inicio</a>
                                        <a href="login.html"class="a">Inicio de sesión</a>
                        </div>
                            </div>
                    <div class="content">
                        <div class="contact">
                            <p class="title">¡Contáctanos!</p>
                            <b class="p-content">Teléfono</b>
                            <p class="p-content">1234567890</p>
                            <p class="p-content">Email de contacto</p>
                           <p class="p-content">bolsillo@bancocolombia.com</p>
                           <p class="title">Redes Sociales:</p>
                           <a href="https://www.facebook.com/" class="link">Facebook</a>
                           <a href="https://www.instagram.com/" class="link">Instagram</a>
                           <a href="https://www.twitter.com/" class="link">Twitter</a>
                           <a href="https://www.youtube.com/" class="link">YouTube</a>
                           <p class="copy">Todos los derechos reservados Banco Colombia &copy; 2023</p>
                        </div>
                        </div>
                    </div>
                    </footer>
        
</body> 
</html>