* 
{
    box-sizing: border-box;
    font-family: Arial;
}
/*
- A79CF1
- 8D73BC
- A1687F
- 5556CA
- 402E51
040229
*/
body
{
    background-color: #050a2b;
}
p
{
    padding: 0%;
    margin: 1%;
    color:#b5b5b5;
}
h1, h3
{
    color:#b5b5b5;
}

nav
{
    box-sizing: border-box;
    width:100%;
    height:100%;
    padding:1%;
    background-color:transparent;
    border:solid 0.1rem transparent;
    margin-top: 2%;
}
nav a
{
    padding: 1%;
    font-size: 130%;
    color:#ffffff;
    text-decoration: none;
}
label, legend
{
    color:#b5b5b5;
}
main
{
    margin-top: 0.5%;
}
button
{
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 2%;
    margin-top: 2%;
}
.title
{
    font-size: 130%;
    padding: 1%;
    color:#ffffff;
    text-decoration: none;
}
.subtitle
{
    color: #ffffff;
    font-size: 130%;
}
.markWarning
{
    width: 100%;
    height: 100%;
    background-color: #e1df93;
    color:#050a2b;
    padding: 2%;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    margin-top: 0.5%;
}
#DangerButton
{
    display: block;
    padding: 2%;
    cursor: pointer;
    color:#ffffff;
    border-radius: 5px;
    border: 1px solid #ffff;
    background-color: #FF0000;
    margin-top: 5%;
    margin-bottom: 5%;
}
#DangerButton:active
{
    background-color: #f93737;
}
#WarningButton
{
    display: block;
    padding: 2%;
    cursor: pointer;
    color:#ffffff;
    border-radius: 5px;
    border: 1px solid #ffff;
    background-color: #ff4400;
    margin-top: 5%;
    margin-bottom: 5%;
}
#WarningButton:active
{
    background-color: #fe6730;
}
#NavInput 
{
    border-radius:5px;
    border:solid 0.05rem #b5b5b5;
}
#ProfilePreview
{
    width: 95%;
    padding: 2%;
    margin-top: 1%;
    margin-left: 2.5%;
    margin-right:2.5%;
    border: 1px solid transparent;
}
.ProfileInfo
{
    display:grid;
    width: 43.5%;
    height: 100%;
    margin-left: 1.5%;
}
.ProfileInfo input[type=text], input[type=email]
{
    font-family: 'roboto';
    width: 80%;
    height: 100%;
    margin: 0.3%;
    padding: 2%;
    border:1px solid #ffffff;
    border-radius: 5px;
    color:#ffffff;
    background-color: transparent;
}
.ProfileInfo label
{
    font-size: 100%;
    display:grid;
    width: 50%;
    height: 100%;
    height: 100%;
    margin: 1.5%;
}

.ProfileInfo select
{
    width: 80%;
    height: 100%;
    margin-bottom: 1%;
    padding: 1%;
    border:1px solid #ffffff;
    border-radius: 5px;
    color:#ffffff;
    background-color: transparent;
}
.ProfileInfo select:active
{
    width: 65%;
    height: 80%;
    margin: 0.3%;
    padding: 0.5%;
    border:1px solid transparent;
    border-radius: 5px;
    color:transparent;
    background-color: transparent;
}
#ProfileTitleLine
{
    width: 50%;
    height: 1%;
    border-bottom: 0.1rem solid #ffffff;
    position:static;
    padding: 0.2%;
}
.ProfileAside
{
    width: 50%;
    height: 100%;
    margin-top:5.3%;
    margin-left: 5%;
    float: right;
    padding: 1%;
}
.ProfilePicture
{
    min-width: 30%;
    min-height: 30%;
    max-width: 30%;
    max-height: 30%;
    margin: 1%;
    border: 1px solid #ffff;
    border-radius:50%;
}
.StatusTextarea
{
    width:50%;
    height:100%;
    min-height: 100%;
    min-height: 200%;
    max-width: 100%;
    max-height: 150px;
    margin-left: 25%;
    padding: 1%;
    color:#b5b5b5;
    border: 1px solid #ffffff;
    background-color: transparent;
    border-radius: 5px;
}
.AccountOptions
{
    padding: 1%;
    display:inherit;
    width: 50%;
    height: 50%;
}
.ProfileAside p
{
    text-align:center;
}