* 
{
    box-sizing: border-box;
    font-family: 'Arial';
}
/*
- A79CF1
- 8D73BC
- A1687F
- 5556CA
- 402E51
040229
*/
body
{
    background-color: #050a2b;
}
p
{
    font-family: 'Lucida Sans';
    padding: 0%;
    margin: 1%;
    color:#b5b5b5;
}
h1, h3
{
    color:#b5b5b5;
}

nav
{
    display: inline-block;
    width:100%;
    height:100%;
    padding:1%;
    background-color:transparent;
    border:solid 0.1rem transparent;
    margin-top: 2%;
}
nav a
{
    padding: 1%;
    font-size: 130%;
    color:#ffffff;
    text-decoration: none;
}
label, legend
{
    color:#b5b5b5;
}
main
{
    margin-top: 0.5%;
}
button
{
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 2%;
    margin-top: 2%;
}
.NavAside
{
    display:inline-flex;
    width: auto;
    height: 1%;
    margin-right: 2%;
    margin-left: 2%;
    padding-left: 1%;
    padding-right: 1%;
    float: right;
}
.title
{
    font-family: 'Arial';
    font-size: 130%;
    padding: 1%;
    color:#ffffff;
    text-decoration: none;
}
.Subtitle
{
    font-family:'Arial';
    color: #ffffff;
    font-size: 130%;
    margin-left: 0.5%;
    margin-right: 0.5%;
}
.SubtitleLower
{
    color: #e5e5e5;
    font-size: 120%;
    margin-left: 0.5%;
    margin-right: 0.5%;
}
#InvertColor
{
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

.markWarning
{
    width: 100%;
    height: 100%;
    background-color: #e1df93;
    color:#050a2b;
    padding: 2%;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    margin-top: 0.5%;
}
#DangerButton
{
    display: block;
    padding: 4%;
    cursor: pointer;
    color:#ffffff;
    border-radius: 5px;
    border: 1px solid #ffff;
    background-color: #FF0000;
    margin-top: 5%;
    margin-bottom: 5%;
}
#DangerButton:active
{
    background-color: #f93737;
}
#WarningButton
{
    display: block;
    padding: 4%;
    cursor: pointer;
    color:#ffffff;
    border-radius: 5px;
    border: 1px solid #ffff;
    background-color: #ff4400;
    margin-top: 5%;
    margin-bottom: 5%;
}
#WarningButton:active
{
    background-color: #fe6730;
}
#NavInput 
{
    border-radius:5px;
    border:solid 0.05rem #b5b5b5;
}
.main
{
    width: 95%;
    height: 100%;
    margin: 2.5%;
    border: 1px solid transparent;
}
#ProfilePreview
{
    width: 95%;
    padding: 2%;
    margin-top: 0%;
    margin-left: 2.5%;
    margin-right:2.5%;
    border: 1px solid transparent;
}
.ProfileInfo
{
    display:grid;
    width: 43.5%;
    height: 100%;
    margin-left: 1.5%;
}
.ProfileInfo input[type=text], input[type=email]
{
    font-family: 'Arial';
    font-size: 105%;
    width: 80%;
    height: 100%;
    margin: 0.3%;
    padding: 2%;
    border:1px solid #b5b5b5;
    border-radius: 5px;
    color:#ffffff;
    background-color: transparent;
}
.ProfileInfo label
{
    font-family: 'Lucida Sans';
    font-size: 100%;
    display:grid;
    width: 50%;
    height: 100%;
    height: 100%;
    margin: 1.5%;
}

.ProfileInfo select
{
    font-size: 100%;
    width: 80%;
    height: 100%;
    margin-bottom: 1%;
    padding: 1%;
    border:1px solid #b5b5b5;
    border-radius: 5px;
    color:#ffff;
    background-color: transparent;
}
.ProfileInfo option
{   
    font-size: 100%;
    width: 100%;
    height: 100%;
    border-radius: 2px;
    color: #ffff;
    background-color: #050a2b;
}
#ProfileTitleLine
{
    width: 50%;
    height: 1%;
    border-bottom: 0.1rem solid #ffffff;
    position:static;
    padding: 0.2%;
}
.ProfileAside
{
    display:inline;
    width: 50%;
    height: 100%;
    margin-top:5.3%;
    margin-left: 5%;
    float: right;
}
.ProfilePicture
{
    min-width: 12.5rem;
    min-height: 12.5rem;
    max-width: 30%;
    max-height: 30%;
    margin: 1%;
    border: 1px solid #ffff;
    border-radius:50%;
}
.StatusTextarea
{
    width:70%;
    height:100%;
    min-height: 100%;
    min-height: 200%;
    max-width: 100%;
    max-height: 150px;
    padding: 1%;
    font-family: 'Lucida Sans';
    font-size: 105%;
    text-align: center;
    color:#b5b5b5;
    border: 1px solid #ffffff;
    background-color: transparent;
    border-radius: 5px;
}
.TextareaCenter
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
}
.AccountOptions
{
    padding: 1%;
    display:inherit;
    width: 50%;
    height: 50%;
}
.ProfileAside p
{
    text-align:center;
}