<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../Assets/css/Syles.css">
    <link rel="icon" href="../Assets/img/moon.ico">
    <title>Mi perfil</title>
</head>
<body>
    <header>
        <nav>
            <a href="../Index.html">Inicio</a>
            <a href="#">Cerrar sesión</a>
        </nav>
    </header>
<main>
    <section id="ProfilePreview">
        <aside class="ProfileAside">
                <p class="title">Foto de perfil</p>
                    <center><div class="ProfileImg">
                    <img src="../Assets/img/gato.png" alt="Foto de perfil" class="ProfilePicture" name="ProfileImage"/>
                    </div></center>
                        <p>Estado</p>
                                <textarea name="Status"class="StatusTextarea" placeholder="Escribe algo breve, llamativo" rows="5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus et libero et eros tempus malesuada ac et enim. Proin non est et orci suscipit mollis. Nam ullamcorper aliquam neque, in vehicula est interdum sed. Maecenas ante justo, laoreet at neque vel, sodales pretium est. In at erat tincidunt, ultricies nisl non, scelerisque dolor. Pellentesque libero ipsum, volutpat sit amet nibh id, fermentum semper lectus. Duis quam quam, semper sit amet sapien in, elementum tristique risus. Curabitur convallis leo odio, et lacinia lorem sodales id. Proin imperdiet vulputate neque, at ornare quam ornare eu. Aenean eu dictum mauris. Nam a lobortis ipsum. </textarea>
                        <p>Sobre mí</p>
                            <textarea name="AboutMe"class="StatusTextarea" placeholder="Cuéntales un poco sobre tí" rows="5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus et libero et eros tempus malesuada ac et enim. Proin non est et orci suscipit mollis. Nam ullamcorper aliquam neque, in vehicula est interdum sed. Maecenas ante justo, laoreet at neque vel, sodales pretium est. In at erat tincidunt, ultricies nisl non, scelerisque dolor. Pellentesque libero ipsum, volutpat sit amet nibh id, fermentum semper lectus. Duis quam quam, semper sit amet sapien in, elementum tristique risus. Curabitur convallis leo odio, et lacinia lorem sodales id. Proin imperdiet vulputate neque, at ornare quam ornare eu. Aenean eu dictum mauris. Nam a lobortis ipsum. </textarea>
        </aside>
        <div id="ProfileTitleLine">
            <p class="title">Perfil público</p>
            </div>
                <p class="subtitle">Tus datos personales</p>
            <div class="ProfileInfo">
                    <label class="ProfileInfoLabel" for="firstName">Nombres</label>
                    <input type="text" value="Joe" disabled />
                    <label class="ProfileInfoLabel" for="SecondName">Apellidos</label>
                    <input type="text" value="Born" disabled />
                    <label class="ProfileInfoLabel" for="Email">Email</label>
                    <input type="text" value="email@example.com" disabled />
                    <label class="ProfileInfoLabel" for="Age">edad</label>
                    <input type="text" value="??????" disabled/>
                    <label class="ProfileInfoLabel" for="Pronouns">Pronombres</label>
                    <select>
                        <option value="Male">El</option>
                        <option value="Female">Ella</option>
                        <option value="NonBinary">No binario</option>
                    </select>
                    <label class="ProfileInfoLabel" for="FavoriteGenre">Género literario favorito</label>
                    <input type="text" value="Drama" disabled/>
                    <label class="ProfileInfoLabel" for="FavoriteBook">Libro favorito</label>
                    <input type="text" value="El caballero de la armadura oxidada - Robert P. Fisher" disabled/>
                    <label class="ProfileInfoLabel" for="Country">Ciudad y/o país</label>
                    <input type="text" value="Bogotá, Colombia" disabled/>
                    <p>Tus redes sociales</p>
                    <label class="ProfileInfoLabel" for="SocialNetwork"></label>
                        <input type="text" value="" disabled/>
            </div>
    </section>
</main>
</body>
</html>